/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

nav.top-nav {
    height: 110px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fafafa;
}

.vhalign-wrapper {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

nav.top-nav h1{
    color: #292929;
    margin: 0;
    line-height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}


a.sidenav-trigger.top-nav {
    position: absolute;
    height: 48px;
    float: none;
    margin-left: 0;
    color: #292929;
    font-size: 36px;
    z-index: 2;
}

.profile-pic-wrapper {
    padding: 1rem 0;
}

.profile-pic-wrapper > a {
    height: 180px !important;
    width: 60%;
    padding: 0 !important;
    border-radius: 50%;
}

.profile-pic-wrapper > a:hover {
    background-color: transparent !important;
}

.profile-pic {
    width: 100%;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }

}

.sidenav {
    background: #3B7EEB;
    color: white;
}

.sidenav li > a {
    color: white;
}

.sidenav li .profile-text {
    line-height: 110%;
    padding: 1rem;
    text-align: center;
    font-size: 16px;
}

.profile-social {
    padding: 1rem 0;
}
.sidenav li > .profile-social a {
    border-radius: 50%;
    background-color: white;
    height: 40px !important;
    width: 40px;
    padding: 0;
}

.sidenav li > .profile-social a:hover {
    background-color: rgba(255,255,255,0.8);
}

.profile-social svg {
    height: 30px !important;
    width: 30px;
    color: #3B7EEB;
}

.sidenav li > .profile-social > li {
    width: 40px;
    display: inline-block;
    margin-right: 1rem;
}

.blog-list h2{
    margin-top: 0;
}

.blog-list img{
    max-width: 100%;
    max-height: 100%;
    margin-top: 0.5rem;
}

code {
    color: #d63384;
    word-wrap: break-word;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 2.4rem;
}

.home .container h1 {
    text-align: center;
}

.clusterize-scroll{
    max-height: none;
}

.input-field input[type=text]:focus + label {
    color: #3B7EEB !important;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #3B7EEB !important;
    box-shadow: 0 1px 0 0 #3B7EEB !important;
    webkit-box-shadow: 0 1px 0 0 #3B7EEB !important;
}

.input-field {
    margin-top:1.5rem;
    padding: 0 0.75rem;
}

.search {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: white;
}